body {
  font-family: 'Montserrat';
  margin: auto;
  margin-left: 2%;
}

.navItem {
  color: black;
  padding: 10px;
  font-family: 'Montserrat'
}

.navItem:hover {
  text-decoration: underline;
}

.optionAnalyticsContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  border: solid black 1px;
  padding: 10px;
  grid-row-gap: 15px;
  width: 97%;
}

.optionPlayer {
  grid-column: 1;
  grid-row: 1;
  margin-left: 3%
}

.testerDetails {
  grid-column: 2;
  grid-row: 2;
}

.emotionChart {
  grid-column: 2;
  grid-row: 1;
}

.optionChart {
  grid-column: 1;
  grid-row: 2;
  width: 82%;
}

.lapseInFocus {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.bottomPanelContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.testerAttention {
  grid-column: 1;
}

.testerFeedback {
  grid-column: 2;
}

.testerNameHeader, .chartHeader {
  text-align: center;
}
