@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/*@import 'antd/dist/antd.css';*/


/*Colors
purple: #7c519e
light purpe: #ad7ecf
dark purple: #4e266f*/

body {
  /*font-family: 'Montserrat';*/
  font-family: 'Open Sans', sans-serif;
  color: #494949;
  margin: auto;
  min-height: 100%;
  background-color: #f7f7f7
}

h2,
/*h3,
h4,
h5,*/
h6 {
  font-family: 'Roboto', sans-serif;
}

/*.app {
  padding: 4%;
}*/

.appBody {
  background-color: #f7f7f7;
  width: 100vw;
  padding: 3%;
  height: 93.7vh;
  padding: 3%;
  margin-bottom: 5%;
}

.lightPurpleModule {
  text-align: center;
  background-color: #f3edff;
  border-color: #e5d8ff;
  border-style: solid;
  border-width: 1px;
  padding: 20px 20px 40px 20px;
  margin-bottom: 20px;
}

.standardHR {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navBar {
  /*margin-top: 32px;*/
  height: 6.3vh;
  padding-left: 8%;
  padding-right: 6%;
  background-color: #7c519e;
}

.navBar p {
  color: #f5f5f5;
  font-size: .7em;
}

.navBar h4 {
  margin-top: 15px;
  color: #f5f5f5;
}

.navBar Link {
  font-size: .8em;
}

.sidebarIcon {
  height: 25px;
  width: 25px;
}

.websiteTitle {
  float: left;
}

.websiteTitle a {
  color: black;
}

.navItem {
  color: black;
  padding: 10px 12px;
  font-family: 'Montserrat'
}

.navItem:hover {
  text-decoration: underline;
}

.sideNavItem, .testerDetails {
  text-align: center;
}

.projectContainer, .projectsContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*border: solid black 1px;*/
  border-radius: 6px;
  background-color: white;
  /* box-shadow: 2px 2px black; */
  padding: 15px;
  width: 100%;
  padding-bottom: 3.5%;
  margin-bottom: 2%;
  overflow: auto;
  /* float: left; */
  display: inline-grid;
}

.TryItOutAnalyticsContainer {
  text-align: center;
}

/* Option Home */

.optionAnalyticsContainer {
  width: 100%;
/*  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 50% 50%;*/
  padding: 10px;
  /*grid-row-gap: 15px;*/
  /*border: solid black 1px;*/
}

.optionHomeContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  padding: 3% 4% 3% 4%;
  border-radius: 4px;
  margin-bottom: 3%;

}

.optionTitle {
  text-align: center;
  padding: 0;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.sidemenucontainer {
/*  grid-column: 1;
  grid-row: 1;
  text-align: center;
  width: 6%;*/
  /*display: flex;*/
}

.nonHeatmapContainer {
  /*width: 100%;*/
/*  grid-column: 2;
  display: grid;
  grid-template-columns: 1% 49% 50%;
  grid-template-rows: 50% 50%;*/
}

.heatmapComponentContainer {
  /*grid-column: 2;*/

}

.optionHomeTop {
}

.optionHomeBottom {
  clear: right;
}

.leftSide {
/*  grid-column: 2;
  grid-row: 1;*/
}



.rightSide, .testerAnalyticsContainer {
/*  grid-column: 3;
  grid-row: 1;*/
}

.ageDistributionChart {
  height: 10%;
  width: 100%;
}

.genderAndRaceContainer {
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
}

.genderDistribution {
  grid-column: 1;
  grid-row: 1;
}

.raceDistribution {
  grid-column: 2;
  grid-row: 1;
}

.optionPlayer {
  height: 45vh;
  padding-right: 1%;
}

.testerResultsPage {
  height: 90vh;
}

.testerResultsPlayer {
  height: 55vh;
}

.testerDetails {
  grid-column: 3;
  grid-row: 2;
}

.userSelect {
  grid-column: 3;
  grid-row: 1;
  margin-left: 40%;
}

.emotionChart {
  grid-column: 3;
  grid-row: 1;
}

.optionChart {
  grid-column: 2;
  grid-row: 2;
  width: 96%;
}

.lapseInFocus {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.bottomPanelContainer {
  display: grid;
  grid-template-columns: 35% 65%;
}

.testerAttention {
  /*padding: 0% 4% 2% 4%;*/

  padding-top: -6px;
  text-align: center;
}

.testerAttentionData {
  text-align: center;
  /*padding: 4%;*/
/*  padding-left: 4%;
  padding-bottom: 3%;*/
  padding: 0 5% 5% 5%;
}

.testerAttentionData ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.testerFeedback {
/*  padding: 2% 4%;*/
  padding-top: 3%;
  text-align: center;
}

.testerFeedbackHeading {
  margin-top: -12px;
  margin-bottom: 12px;
}

.testerFeedbackData {
  grid-column: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.rawValues {
  grid-column: 1;
}

.progressBars {
  grid-column: 2;
}

.testerNameHeader, .chartHeader {
  text-align: center;
}

.overlay {
  background: rgba(204, 204, 204, .8);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.testerVideo {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1000;
  opacity: 0;
}

.videoPlayer {
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 4%;
  position: relative;
  height: 65vh;
  /*width: 100%;*/
}

.tryItOutLineGraph {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  position: relative;
}

.videoWrapper {
  height: 80vh;
}

.player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.finishVideo {
  margin: 15% 20% 20% 20%;
  text-align: center;
}

.optionNavButton, .optionNavButtonDisabled, .like, .unlike {
  margin: 0% 3%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.optionNavButton:hover, .like:hover, .unlike:hover {
  text-decoration: underline;
}

.optionNavButton {
  background-color: #6095ff;
}

.optionNavButtonDisabled {
  background-color: #6095ff;
  opacity: 0.4;
}

.optionNavButtonDisabled:hover {
  text-decoration: none;
}

.like {
  background-color: #4CAF50;
}

.unlike {
  background-color: #f44336;
}

.unlike:hover {
  text-decoration: underline;
}

.testerComments {
  opacity: 1;
  border-radius: 12px;
  padding: 12px;
}

.modal-body {
  background-color: #f3edff;
  border-color: #e5d8ff;
}

.CreateProject {
  clear: right;
  /* border-radius: 5px; */
  /* background-color: #f7f7f7; */
  background-color: #f3edff;
  border-color: #e5d8ff;
  padding: 10px 20px 20px 20px;
  font-weight: bold;
}

.CreateProject input[type=text] {
  padding: 8px 16px;
  margin: 6px 0;
}

.ProjectNameInput textarea {
  text-transform: uppercase;
  width: 50%;
  height: 35px;
  font-size: large;
}

.ProjectDescriptionInput textarea {
  width: 50%;
  height: 60px;
  box-sizing: border-box;
}

.AddSection {
  padding: 0px 20px 20px 20px;
}

.CurrentProjectName {
  font-weight: bold;
}

.SectionNameInput input{
  width: 50%;
}

.SectionDescriptionInput textarea{
  width: 50%;
  height: 50px;
}

.AddOption {
  padding: 10px 20px 20px 20px;
  background-color: #f3edff;
  border-color: #e5d8ff;
}

.inputDescription {
  width: 50%;
}

.optionListEntry .closerTextLarger {
  font-weight: 1000;
}

.optionListEntry {
  padding: 10px 20px 20px 20px;
}

.ThumbnailListInAddOption .thumbnailImg {
  height: '20px';
  width: '40px';
}


.navContainer {
  font-family: 'Open Sans', sans-serif;
  float: right;
  display: flex;
  /*padding: 0px 0% 3% 3%;*/
  margin-left: 5%;
  right: 0;
  font-size: 20px;
  margin-top: 6px;
}

.testerHomeContainer, .testerQueueContainer, .TesterBrowseContainer {
  clear: right;
  text-align: center;
  background-color: #f7f7f7;
  padding: 3% 3% 3% 3%;
  border-radius: 12px;
  overflow: auto;
}

.testerOptionListEntry {
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e3eced;
  border-color: #d9e0e2;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
}

.BrowseListItem {
  background-color: #93a9c054;
  margin-bottom: 50px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e3eced;
  border-color: #d9e0e2;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
}

.BrowseListItem:hover {
  border-color: #bec4c6;
}

.testerOptionListEntryContainer {
  grid-column: 2 / 3;
}

.optionEntryText {
  color: #5b5b5b;
  text-align: left;
}

.optionEntryCreator {
  color: #5b5b5b;
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
}

.optionEntryCreator:hover {
  color: #191919;
}

.optionEntryTime {
  color: #5b5b5b;
  text-align: left;
  font-size: 13px;
}

.optionEntryImg {
  width: 100%;
  height: 100%;
  margin-bottom: 4px;
}

.testerOptionListEntry:hover {
  border-color: #bec4c6;
}

.browseCreatorName:hover {
  text-decoration: underline;
}

.promoButton {
  margin-left: 0;
  margin-right: 0;
}

.testerProfile {
  font-size: 16px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 240px;
}

.profileHeading {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.profileLabel {
  display: inline-flex;
  font-weight: bold;
}

.profileInput {
  display: inline-flex;
}

.authBody {
  height: 100%;
  display: grid;
}

.loginModule {
  text-align: center;
  background-color: #f3edff;
  border-color: #e5d8ff;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: auto;
  height: 60vh;
  width: 50vh;
  padding: 30px 60px 30px 60px;
}

.signupModule {
  text-align: center;
  background-color: #f3edff;
  border-color: #e5d8ff;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: auto;
  height: 70vh;
  width: 50vh;
  padding: 30px 60px 30px 60px;
}

/* Forgot Password CSS */

.forgotPassword {
  color: gray;
}

.forgotInput {
  width: 100%;
}

.forgotForm {
  align-content: center;
  justify-content: center;
  display: inline-block;
  text-align: center;
}

.fbLoginBtn {
  width: 70%;
  margin-bottom: 6px;
  border-radius: 6px;
  border-color: #000f87;
  border-style: solid;
  border-width: 1px;
}

.patreonLoginBtn {
  width: 70%;
  margin-bottom: 6px;
  border-radius: 6px;
  border-color: #e05500;
  border-style: solid;
  border-width: 1px;
}

.patreonLoginLoading {
  text-align: center;
  border-radius: 6px;
}

.vimeoLoginBtn {
  width: 70%;
  border-radius: 6px;
  border-color: #00add8;
  border-style: solid;
  border-width: 1px;
}

h2.loginHeader {
  font-weight: 500;
  padding-bottom: 3%;
}

h2.signupHeader {
  padding-left: 5%;
  padding-bottom: 3%;
}

.signupCreator {
  padding-bottom: 4%;
}

.authInput {
  margin-bottom: 2px;
}

.authSubmit {
  margin: 2% 0% 1% 0%;
}

.authCreatorTesterToggle {
  display: flex;
  justify-content: center;
}

.optionAnnotations {
  /*background-color: #f7f7f7;*/
  /*padding: 12px;*/
}

.timeAndNotifs {
  align-items: self-end;
  position: absolute;
  top: 6px;
  right: 30px;
}

.please {
  position: absolute;
  right: 63px;
  top: 13px
}

.optionAnnotationsTitle {
  text-align: center;
}

.optionListThumbnail{
  height: auto;
  width: 90%;
}

.optionHomeAnnotationsDiv {

}

.annotations {
  padding: 10px;
  background-color: white;
  margin-top: 14px;
  border-radius: 3px;
  clear: right;
  clear: left;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.annotations p {
  font-size: .8em;
  margin: 0;
}

.error {
  color: red;
}

.annotationForm {
  background-color: white;
  border-radius: 3px;
  padding: 5%;
}

.annotationForm Button {
  font-size: 12px;
}


.testerAnalyticsContainer {
  /*background-color: #f7f7f7;*/
  /*padding: 5%;*/
  border-radius: 4px;
}

.optionContainer {
  background-color: white;
  padding-top: 6px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.optionBottom {
  padding: 10%;
}

.landingContainer {
}

.landingSectionA {
  height: 60vh;
  text-align: center;
  width: 100%;
  color: white;
  clear: both;
  margin-bottom: 9%;
}

.landingSectionB {
  text-align: center;
  padding-top: 8%;
  margin-bottom: 14%;
  height: 66vh;
}

.landingSectionC {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow: auto;
}

.landingSectionSub {
  padding: 2% 10%;
}

.landingSectionSubLeft {
  padding: 0% 10%;
  text-align: left;
  line-height: 1.4;
}

.landingSectionSubLeft h5 {
  line-height: 1.6;
}

.landingSectionSub h5 {
  line-height: 1.6;
}

/*.aBackground {
  height: 72vh;
  width: 100%;
  z-index: -5;
  background-color: #ad7ecf;
  background-image: url("https://images.unsplash.com/photo-1493946947703-a0e68b050bee?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  opacity: .3;
  position: absolute;
  margin-top: -2%;
}*/
/*.aBackground2 {
  height: 82vh;
  width: 100%;
  z-index: -6;
  /*background-color: #ad7ecf;*/
/*  background-image: url("https://images.unsplash.com/photo-1493946947703-a0e68b050bee?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  opacity: 1;
  position: absolute;
  position: absolute;
  margin-top: -2%;*/
/*}*/
.aBackground2 {
  height: 82vh;
  width: 100%;
  z-index: -6;
  /*background-color: #ad7ecf;*/
  background-image: url("https://images.unsplash.com/photo-1493946947703-a0e68b050bee?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  opacity: 1;
  position: absolute;
  margin-top: -5%;
}

.aInfo {
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 6%;
}

.landingFooter {
  height: 140px;
  background-color: lightgrey;
  padding: 5px 5%;
}

.footerCol {
  padding-left: 20%;
}

.dashboardHomeContainer {
  /*background-color: #f7f7f7;*/
  /*height: 200vh;*/
  clear: right;
  /* margin-left: -2.1%; */
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 6px;
  /* background-color: #f3edff;
  border-color: #e5d8ff; */
}

.projectHomeContainer {
  /*background-color: #f7f7f7;*/
  height: 200vh;
  clear: right;
  padding: 1% 2% 2% 2%;
  border-radius: 6px;
}

.currentSectionOptionsList {
  height: 685px;
  /* overflow: auto; */
  overflow-y: auto;
  overflow-x: hidden;
  width: 15%;
  margin-top: 60px;
}

.sectionHomeContainer {
  /*background-color: #f7f7f7;*/
  height: 200vh;
  clear: right;
  padding: 1% 2% 2% 2%;
}

.sectionHomeInviteModule {
  background-color: #f3edff;
  border-color: #e5d8ff;
  border-style: solid;
  border-width: 1px;
  padding: 0px 20px 20px 20px;
  min-height: 40vh;
  text-align: center;
}

.sectionHomeAssignGroupBtn {
  margin-bottom: 20px;
}

.lowCreditListItem {
  height: 3.5vh;
  padding: 0px 15px 0px 15px;
}

.lowCreditWarning {
  color: #d83c3c;
}

.currentSectionOptionListEntry {
  float: left;
  /* margin: 5%; */
  width: 95%;
  background-color: white;
  padding: 5% 0% 5% 0%;
  text-align: center;
  margin-bottom: 3px;
  /*border-radius: 3px;*/
  /* padding-left: 1%; */
}

.currentSectionOptionListEntry:active {
  border: 1px solid #e5d8ff;
}

.sectionsScrollContainer{
  width: 685px;
  overflow: auto;
}

.sectionsScroll {
  width: 31.55%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: inline-grid;
  height: 142px;
}

.dashboardHeader {
  display: inline-block;
  width: 100%
}

.focusGroupPage {

}

.focusGroupNameEntry {
  margin: 15px 0px 15px 0px;
}

.focusGroupTesterEntry {
  margin: 15px 0px 15px 0px;
}

.focusGroupPatreonBtn {
  max-height: 65%;
  max-width: 65%;
  border-radius: 6px;
  border-color: #e05500;
  border-style: solid;
  border-width: 1px;
}

.focusGroupPatronList {
  display: grid;
  align-content: center;
}

.focusGroupPatronListEntry {
  height: 4vh;
  padding: 4px 15px 0px 15px;
}

.lightPurpleModuleCurrentGroup {
  text-align: center;
  background-color: #f3edff;
  border-color: #e5d8ff;
  border-style: solid;
  border-width: 1px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.focusGroupSubsectionTitle {
  position: relative;
  margin-bottom: 30px;
}

.focusGroupSubsection {
  margin-bottom: 30px;
  padding: 3px 100px 0px 100px;
}

.focusGroupSubsectionBottom {
  padding: 3px 100px 0px 100px;
}

.focusGroupDeleteBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.focusGroupTesterList {

}

.focusGroupTesterListEntry {
  height: 4vh;
  padding: 0px 15px 0px 15px;
}

button.list-group-item {
  text-align: center;
}

.focusGroupButtonToolbar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.addEntityButton {
  float: right;
}

.sectionOptionData {
  float: right;
}

.optionListEntry {
  width: 100%;
  float: left;
}

.sectionComparison {
  padding: 5%;
  margin: 2%;
  /*background-color: white;*/
  overflow:auto;
}

.sectionCompareCharts {
  padding-right: 5%;
  margin: 5%;
}

.optionDemographics {
  text-align: center;
  padding: 5%;
}

.optionDemographicsBody {
  text-align: left;
  left: 0;
}

.invitationPanel {

  padding: 2% 0% 2% 2%;
  background-color: white;
}

.invitationPanelSelectorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.invitationPanelSelector1 {
  padding: 0px;
  grid-column: 1;
  justify-self: start;
}

.invitationPanelSelector2 {
  padding: 0px;
  grid-column: 2;
  justify-self: center;
}

.invitationPanelSelector3 {
  padding: 0px;
  grid-column: 3;
  justify-self: end;
}

.invitationPanelSelectors p {
  margin: auto 5px auto 0px;
  font-size: 16px;
}

.testersList {
  /* border: 1px solid black;
  border-radius: 3px;
  padding-left: 1%;*/
}

.projectHomeSectionListEntry {
  /* margin-bottom: 2%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*border: solid black 1px;*/
  border-radius: 6px;
  background-color: white;
  /* box-shadow: 2px 2px black; */
  padding: 15px;
  width: 50%;
  padding-bottom: 3.5%;
  margin-bottom: 2%;
}

.projectHomeSectionListThumbnail {
  margin-right: 1.5%;
}

.closerTextLarger {
  margin-bottom: 0%;
  font-weight: bold;
}

.closerText {
  margin-bottom: 0%;
}

.addSectionButton {
  float: right;
}

.ccForm {
  color: #7a7a7a;
  background-color: white;
  margin-top: 100px;
  border: 1px;
  border-style: solid;
  border-color: #CFD7E0;
  border-radius: 4px;
  padding: 0px 20px 20px 20px;
  text-align: center;
  width: 50%;
}

.ccSubmit, .ccSubmitDeactivated {
  margin-top: 10px;
  border-style: none;
  border-radius: 6px;
  padding: 10px 100px;
}

.ccSubmitDeactivated {
  color: #9ea1a3;
  background-color: #b2ef9b;
}

.ccSubmit {
  font-weight: bold;
  color: #4c4e4f;
  background-color: #68ed36;
}

.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
}
.custom-card p {
  color: #999;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__container {
  position: relative;
}


/* Lucas' New Css */

@keyframes reveal {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
  /* animation-name: reveal;
  animation-duration: 2s;
  overflow: auto;
  height: auto; */
  /* border: 1px solid black;
  border-radius: 3px;
  padding: 2% 0% 2% 2%;
  /* width: 110%; */
  /* background-color: white; */

.demoWelcomeHeader {
  display: inherit;
  /* margin-left: 3%; */
  animation-name: reveal;
  animation-duration: 2s;
  /* font-weight: bold; */
}


.glyphicon-chevron-right {
  color: white;
}

.glyphicon-chevron-left {
  color: white;
}

.carousel-control.left {
  width: 5%;
  background-image: none;
  background-color: #7c519e;
  border-radius: 8px 0px 0px 8px;
}

.carousel-control.right {
  width: 5%;
  background-image: none;
  background-color: #7c519e;
  border-radius: 0px 8px 8px 0px;
}

.item.active {
  /* margin-left: 8% */
}

.carousel-indicators {
  display: none;
}

.carousel {
  padding-left: 5%;
}

.carouselBtn {
  width: 100%;
  background-color: #f7f7f7;
}

.overflowSectionX {
  /*width: 120%;*/
  text-align: center;

}

.card {
  width: 95%;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cardImage1 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url("https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/17434774_10211396571242715_5888271873694789837_o.jpg?oh=a77293d02d70a3d41f77bff1bef58e47&oe=5AA6F04C");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.cardImage2 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url("https://s3.us-east-2.amazonaws.com/reaction-sync/Photo+on+11-1-17+at+1.35+PM+%232.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.cardImage3 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url("https://s3.us-east-2.amazonaws.com/reaction-sync/IMG-6649.JPG");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.cardImage4 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url("https://s3.us-east-2.amazonaws.com/reaction-sync/cYgHfEr.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.cardImage5 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url("https://s3.us-east-2.amazonaws.com/reaction-sync/17919731.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.cardTitle {
  text-align: center;
}

.cardTitle h5 {
  line-height: .5;
}

.teamTitle {
  text-align: center;
  margin-bottom: 20px;
}

.reactHeatmap canvas {
  width: 80vw;
  height: 65vh;
}

.hrStyle {
  margin-top: 4px;
  margin-bottom: 4px;
}

.projectListEntry{
  height: 100%
}

.lowerTextToTruncate{
  margin: 0 0 10px;
  overflow: hidden;
  /* height: 20px; */
  width: 200%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upperTextToTruncate {
  margin: 0 0 10px;
  overflow: hidden;
  /* height: 20px; */
  /* width: 200%; */
  text-overflow: ellipsis;
  white-space: nowrap;
}
